if restricted_product.entidad == "PRODUCE"
  if restricted_product.documents == "Certificado sanitario expedido por la autoridad competente del país de origen"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 57
            p(class="precio") Precio: Gratuito
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=6" target="_blank")
                img(class="img_produce" src="/images/ministerios/produce/produce_.png")
            a(href="https://www.vuce.gob.pe/vuce/prd018.htm?method=nuevaOrden&idFormato=223&idEntidad=6&idTupa=537" target="_blank")
              button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Certificado de Procedencia del Ministerio de Pesquería o Direcciones Regionales"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 36
            p(class="precio") Precio: S/ 61.2
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=4" target="_blank")
                img(class="img_produce" src="/images/ministerios/produce/produce_sanipes.png")
          a(href="https://www.vuce.gob.pe/vuce/itp010.htm?method=nuevaOrden&idFormato=80&idEntidad=4&idTupa=437" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Permiso de Importación de OTO / PERU"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          p Tramitar permiso
          div.target_docu
            div.img_document
              a(href="http://otoperu-news.blogspot.com/p/permiso-de-importacion-de-saos.html" target="_blank")
                img(class="img_produce" src="/images/ministerios/produce/oto.png")
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp
      

  if restricted_product.documents == "Certificado de Conformidad, Constancia de Cumplimiento"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          p Tramitar permiso
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=6" target="_blank")
                img(class="img_produce" src="/images/ministerios/produce/produce_.png")
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp
      

  if restricted_product.documents == "DGAAI-PRODUCE (SAO)"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          p Tramitar permiso
          div.target_docu
            div.img_document
              a(href="http://otoperu-news.blogspot.com/p/permiso-de-importacion-de-saos.html" target="_blank")
                img(class="img_produce" src="/images/ministerios/produce/oto.png")
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp
      
if restricted_product.entidad == "MINAGRI"
  if restricted_product.documents == "Permiso fitosanitario de Importación del SENASA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso CVI-01
            p(class="precio") Precio: S/ 61.2
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minagri/senasa.png")
          a(href="https://www.vuce.gob.pe/vuce/sns041.htm?method=nuevaOrden&idFormato=150&idEntidad=3&idTupa=35" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Permiso zoosanitario de Importación del SENASA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso CA-01
            p(class="precio") Precio: S/ 61.2
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minagri/senasa.png")

          a(href="https://www.vuce.gob.pe/vuce/sns002.htm?method=nuevaOrden&idFormato=29&idEntidad=3&idTupa=30" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Certificado de Internamiento de SENASA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso IP-15
            p(class="precio") Precio: S/ 108.0
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minagri/senasa.png")

          a(href="https://www.vuce.gob.pe/vuce/sns042.htm?method=nuevaOrden&idFormato=192&idEntidad=3&idTupa=236" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Certificado de análisis SENASA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso IA-04
            p(class="precio") Precio: S/ 720.0
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minagri/senasa.png")

          a(href="https://www.vuce.gob.pe/vuce/sns042.htm?method=nuevaOrden&idFormato=192&idEntidad=3&idTupa=554" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Certificado fito o zoosanitario del país de origen SENASA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso CA-01
            p(class="precio") Precio: S/ 61.2
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minagri/senasa.png")

          a(href="https://www.vuce.gob.pe/vuce/sns002.htm?method=nuevaOrden&idFormato=29&idEntidad=3&idTupa=30" target="_blank")
            button(class="btn_minin") Iniciar solicitud
      div.whole_content_2
        div.sub_content
          p Aeropost

          p WhatsApp

  if restricted_product.documents == "Permiso de SENASA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso IP-15
            p(class="precio") Precio: S/ 108.0
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minagri/senasa.png")

          a(href="https://www.vuce.gob.pe/vuce/sns042.htm?method=nuevaOrden&idFormato=192&idEntidad=3&idTupa=236" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

if restricted_product.entidad == "MININTER"

  if restricted_product.documents == "Permiso emitido por SUCAMEC"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 33
            p(class="precio") Precio: S/ 446.50
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=37" target="_blank")
                img(class="img_produce" src="/images/ministerios/mininter/mininter_sucamec.png")
          
          div.precio_permiso
            p(class="permiso") Tramitar permiso 35
            p(class="precio") Precio: S/ 869.4
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=37" target="_blank")
                img(class="img_produce" src="/images/ministerios/mininter/mininter_sucamec.png")
          a(href="https://www.vuce.gob.pe/vuce/scm024.htm?method=nuevaOrden&idFormato=254&idEntidad=37&idTupa=594" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp
      

  if restricted_product.documents == "Autorización de importación de productos pirotécnicos y materiales relacionados"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 33
            p(class="precio") Precio: S/ 446.50
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=37" target="_blank")
                img(class="img_produce" src="/images/ministerios/mininter/mininter_sucamec.png")
          a(href="https://www.vuce.gob.pe/vuce/scm024.htm?method=nuevaOrden&idFormato=254&idEntidad=37&idTupa=592" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

if restricted_product.entidad == "MRREE"
  if restricted_product.documents == "Resolución Directoral emitida por el MRREE"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.target_docu
            div.img_document
              a(href="http://transparencia.rree.gob.pe/index.php/datos-generales-11/13-normas-emitidas-por-la-entidad/1-3-5-resoluciones-directorales-rd/ano-2017-22/enero-5" target="_blank")
                img(class="img_produce" src="/images/ministerios/mrree/mrree.png")
          a(href="http://transparencia.rree.gob.pe/index.php/datos-generales-11/13-normas-emitidas-por-la-entidad/1-3-5-resoluciones-directorales-rd/ano-2017-22/enero-5" target="_blank")
            button(class="btn_minin") Ir a la página
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

if restricted_product.entidad == "MINSA"
  if restricted_product.documents == "Permiso emitido por DIGEMID"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 118
            p(class="precio") Precio: Gratuito
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digemid/digemid.png" title="VUCE")
          div.target_docu
            div.img_document
              a(href="http://www.digemid.minsa.gob.pe/Main.asp?Seccion=872" target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digemid/web.png" title="Instructivo")
          div.target_docu
            div.img_document
              a(href="/images/ministerios/minsa/digemid/modeloreceta.pdf", download="Modeloreceta", target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digemid/modeloreceta_img.png" title="Modelo de Receta Médica")

          a(href="https://www.vuce.gob.pe/vuce/dgm078.htm?method=nuevaOrden&idFormato=235&idEntidad=5&idTupa=379" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "DIGEMID - Necesita registro y/o receta médica visada"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 118
            p(class="precio") Precio: Gratuito
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=3" target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digemid/digemid.png" title="VUCE")
            div.img_document
              a(href="http://www.digemid.minsa.gob.pe/Main.asp?Seccion=872" target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digemid/web.png" title="Instructivo")
            div.img_document
              a(href="/images/ministerios/minsa/digemid/modeloreceta.pdf", download="Modeloreceta", target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digemid/modeloreceta_img.png" title="Modelo de Receta Médica")
          a(href="https://www.vuce.gob.pe/vuce/dgm078.htm?method=nuevaOrden&idFormato=235&idEntidad=5&idTupa=379" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Permiso emitido por DIGESA"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso 41
            p(class="precio") Precio: 14.07% de la UIT
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=1" target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digesa/digesa.png" title="VUCE")
            div.img_document
              a(href="/images/ministerios/minsa/digesa/DGS014_Autorizacion_Sanitaria_para_importacion_Juguetes_yo_Utiles_Escritorio.pdf", download="Instructivo_digesa", target="_blank")
                img(class="img_produce" src="/images/ministerios/minsa/digesa/instructivo_digesa.png" title="Intructivo")

          a(href="https://www.vuce.gob.pe/vuce/dgs014.htm?method=nuevaOrden&idFormato=14&idEntidad=1&idTupa=472" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

if restricted_product.entidad == "MTC"
  if restricted_product.documents == "Permiso de Internamiento"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso DGC-014
            p(class="precio") Precio: Gratuito
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=2" target="_blank")
                img(class="img_produce" src="/images/ministerios/mtc/mtc.png" title="VUCE")

          a(href="https://www.vuce.gob.pe/vuce/mtc003.htm?method=nuevaOrden&idFormato=83&idEntidad=2&idTupa=607" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp

  if restricted_product.documents == "Requiere ser homologado"
    div.whole_content_1
      div.sub_content
        div.text_docu
          h3(class="needs") ¿Qué trámite necesita?
          h3(class="entidad")= restricted_product.entidad
          h3(class="documents_prod")= restricted_product.documents
        div.img_docu
          div.precio_permiso
            p(class="focus") A tener en cuenta:
            p(class="permiso") Tramitar permiso DGCSC-2
            p(class="precio") Precio: S/ 106.50
          div.target_docu
            div.img_document
              a(href="https://www.vuce.gob.pe/vuce/fmt.htm?method=cargarFormatosPorEntidad&entidad=2" target="_blank")
                img(class="img_produce" src="/images/ministerios/mtc/mtc.png" title="VUCE")

          a(href="https://www.vuce.gob.pe/vuce/mtc001.htm?method=nuevaOrden&idFormato=81&idEntidad=2&idTupa=688" target="_blank")
            button(class="btn_minin") Iniciar solicitud
    div.whole_content_2
      div.sub_content
        p Aeropost

        p WhatsApp*/